.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px !important;
    width: 100%;
}
.cart-item button{
    background-color: transparent;
    width: fit-content;
    margin: 0;
}
.cart-item input{
    width: fit-content;
    max-width: 50px;
    padding: 5px;
    margin: 0;
}
.cart-footer {
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    width: 100%;
}
.footer{
    width: 100%;
}
.cart-item .quantity-container{
    display: flex;
    justify-content: center;
    align-items: center;
}